<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.min.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header  class="header">
            <div class="navbar-wrapper">
              <nav class="navbar">
                  <div class="navbar-brand">
                      <img class="brand-img" src="img/p5_joker_mask_vector.svg" alt=""> <span>Joker </span> 
                  </div>
                  <ul class="navbar-list">
                      <li class="list-item"><a href="" class="list-link"> <img src="img/Group 18.svg" alt=""> </a></li>
                      <li class="list-item"><a href="" class="list-link"> <img src="img/Group 17.svg" alt=""></a></li>    

                  </ul>
              </nav>
            </div>
            </header>
        
